
.full-container {
  display: flex;
  
 
  flex-direction: column;
  width:100vw;
    height: 100vh;
 
}

.contaainer{
  
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow-x: auto;
  scrollbar-width: none;
  
}


.hero-banner {
  width: 75%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hero-banner img {
  width: 80%;

  height: auto;
  object-fit: cover;
  border-radius: 10px;
}


.selection-buttons {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.selection-buttons button {
  height: 40px;
  width: 90px;
  color: white;
  background-color: rgb(220, 220, 142);
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selection-buttons button:hover {
  background-color: rgb(204, 204, 123);
}


.cloth_display_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.each_cloth_container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  cursor: pointer;
}

.each_cloth_container:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.item_image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: rgb(208, 173, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.item_image img {
  width: 80%;
  height: auto;
  
}

.item_image:hover img {
  transform: scale(1.1);
}


.item_name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.item_description_container {
  width: 90%;
  margin: 5px auto;
}

.item_description {
  color: gray;
  text-align: center;
  font-size: 14px;
}

.item_price {
  font-size: 18px;
  font-weight: bold;
  color: red;
  margin-top: 5px;
}

.add_cart {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  color: white;
  background-color: rgb(23, 170, 23);
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add_cart:hover {
  background-color: rgb(15, 120, 15);
}

@media(max-width:850px){
  .hero-banner img{
    width:99%
  }

  .selection-buttons button{
    width:72px;
    height:32px;
    font-size: 12px;
  }


  .item_image{
    width:90%;
    height:180px;
  }

  .item_name{
    font-size: 15px;
  }

  .item_description{
    font-size: 10px;
  }
  .item_price{
    font-size: 14px;
  }

  .add_cart{
    width:90px;
    height:30px;
    font-size: 12px;
  }

  .item_description_container{
    margin-top: 1px;
    width:90%;
  }

  .cloth_display_container{
    grid-template-columns: repeat(3,1fr);
  }

  .add_cart{
    margin-top: 3px;
    width:80px;
    height:30px;
    font-size: 10px;
  }
}

@media (max-width:650px) {
  .item_name{
    font-size: 12px;
  }

  .item_description{
    font-size: 8px;
  }

  .item_price{
    margin-top: 0px;
    font-size: 11px;
  }

  .add_cart{
    width:65px;
    height:20px;
    font-size: 8px;
    border-radius: 4px;
  }

  .hero-banner img{
    width: 100%;
  }

  .item_image{
    height:140px
  }

  .item_image img{
    width:90%;
  }

  .cloth_display_container{
    gap:8px;
  }

  .selection-buttons button{
    width:65px;
    height:27px;
    font-size: 10px;
  }
}

@media (max-width:450px)
{
  .hero-banner{
    width:88%;
  }

  .item_image img{
    width:95%
  }

  .item_image{
    height:200px;
  }

  .item_name{
    font-size: 12px;
  }

  .item_description_container{
    width: 95%;
  }

  .item_description{
    font-size: 8px;
  }

  .item_price{
    font-size: 9px;
  }

  .add_cart{
    width:55px;
    height: 15px;
    font-size: 8px;
  }

  .cloth_display_container{
    grid-template-columns: repeat(2,1fr);
  }
  
}