.container-bottom{
    background-color: rgba(131, 75, 214,0.5) ;
    height:130px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 20px;
}

.bottom-contactus{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 4px;
}

.bottom-contactus p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.bottom-logo{
    margin-top: 10px;
   display: flex;
   gap:25px;
   justify-content: center;
}

.bottom-logo img{
    height:40px;
    width: 40px;
}

.text-bottom{
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
}

@media(max-width:850px){
   .bottom-contactus p{
      font-size: 16px;  
   } 


   .bottom-logo img{
    height:30px;
    width: 30px;
   }

   .text-bottom{
    width:100%;
    padding: 0px 10px;
    margin-top: 3px;
   }

   .text-bottom p{
    font-size: 12px;
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
   }

   .container-bottom{
    height: 120px;
   }
}
