.full_container_detail {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}


.container_detail {
  margin: 90px auto 40px auto;
  width: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.back_button_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.back_button_container p{
    text-align: center;
}


.back_detail {
  width: 90px;
  padding: 6px 0;
  background-color: rgb(204, 204, 123);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.back_detail:hover {
  background-color: rgb(151, 151, 87);
}


.detail_content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.detail_content img {
  width: 80%;
  background-color: rgb(208, 173, 239);
  object-fit: contain;
  margin-bottom: 15px;
}

.item_name_detail {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.item_description_detail {
  margin-top: 6px;
  color: #777;
  text-align: left;
  width:90%;
}

.item_price_detail {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

.add_to_cart_detail{
    margin-top: 10px;
    width:100px;
    height:35px;
    text-align: center;
    background-color: rgb(23, 170, 23);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:none;
}

.add_to_cart_detail:hover{
  background-color: rgb(15, 120, 15);

}

@media(max-width:850px)
{
    .container_detail{
        width:70%;
    }

    .item_name_detail{
      font-size: 19px;  
    }

    .item_description_detail{
        font-size: 15px;
    }

    .item_price_detail{
        font-size: 18px;
    }

    .back_detail{
        width: 70px;
        font-size: 14px;
        
    }
}

@media(max-width:550px)
{
    
   .detail_content img{
    width:95%;
   }
   .item_name_detail{
    font-size: 16px;
   }

   .item_description_detail{
    font-size: 11px;
    width:95%;
   }

   .item_price_detail{
    font-size: 16px;
   }

   .add_to_cart_detail{
    width:80px;
    height:30px;
    font-size: 12px;
    margin-top: 4px;
   }

   .back_detail{
    width: 60px;
    font-size: 12px;
    margin: 1px 0px;
   }
}