.full_login_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  padding: 30px 50px;
  border: 1px solid grey;
  border-radius: 20px;
}

.title_login {
  font-size: 22px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group {
  display: flex;
  
}

label {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 300px;
  height: 28px;
  border: 2px solid black;
  padding: 2px 6px;
}

input:focus {
  outline: none;
  border-color: #f5c400;
}

.enter_login {
  width: 120px;
  height: 32px;
  margin-top: 15px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.alternative_img {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.alternative {
  font-size: 16px;
  color: grey;
}

.alternative_img img {
  width: 40px;
  cursor: pointer;
}

.change_to_signup_container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 15px;
}

.change_to_signup_container p {
  color: grey;
}

.change_to_signup_container button {
  width: 80px;
  height: 26px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.back_button {
  align-self: flex-start;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  margin-bottom: 5px;
}

@media(max-width:1000px)
{
  .enter_login{
    width:100px;
    height:28px;
    font-size: 12px;
    margin-top: 10px;
  }

  .login_container{
    width:73%;
  }

  label{
    width:150px;
    font-size: 15px;
  }

  .title_login{
    font-size: 19px;
  }

   input{
    width:300px;
    height:25px;
   }


}

@media(max-width:700px)
{
  .back_button{
     font-size: 12px;
  }

  .signup_container{
    width:85%;
  }

  .title_login{
    font-size: 16px;
  }

  label{
    font-size: 12px;
    width:100%;
    text-align: left;
    margin-bottom: 10px;
  }

  input{
    width: 200px;
    height: 25px;
  }

  .enter_login{
    width: 85px;
    height: 24px ;
  }

  .change_to_signup_container{
    margin-top: 0px;
  }

  .change_to_signup_container p{
    font-size: 12px;
  }

  .change_to_signup_container button{
    width: 65px;
    height: 22px;
  }

  .input_group{
    flex-direction: column;
  }

  .login_container{
    padding: 20px 25px;
  }

  .alternative{
    font-size: 13px;
  }

  .alternative_img img{
    width:30px;
  }

  .login_container{
    padding: 15px 20px;
  }
}

