.full_signup_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  padding: 30px 50px;
  border: 1px solid grey;
  border-radius: 20px;
}

.back_button {
  align-self: flex-start;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  margin-bottom: 15px;
}



.title_signup {

  font-size: 22px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group {
  display: flex;
  align-items: center;
}

label {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}

input {
  width: 350px;
  height: 30px;
  border: 2px solid black;
  padding: 2px 6px;
}



.enter_signup {
  width: 120px;
  height: 32px;
  margin-top: 15px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.change_to_login_container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 15px;
}

.change_to_login_container p {
  color: grey;
}

.change_to_login_container button {
  width: 80px;
  height: 26px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

@media(max-width:1000px)
{
    .signup_container{
        width:73%;
    }

    label{
      width:150px;
      font-size: 15px;

    }

    .title_signup{
      font-size: 19px;
    }

    input{
      width:300px;
      height:25px;
    }

    .enter_signup{
      width:100px;
      height:28px;
      font-size: 12px;
      margin-top: 10px;
    }

    .change_to_login_container button{
      width:70px;
      height:24px;
    }
}

@media(max-width:700px)
{
  .back_button{
    font-size: 12px;
  }

  .signup_container{
    width:85%;
    padding: 15px 20px;
  }

  .title_signup{
    font-size: 16px;
  }

  label{
    font-size: 12px;
    width:100%;
    text-align: left;
    margin-bottom: 10px;
  }

  input{
    width:200px;
    height:25px;
    
  }

  .enter_signup{
    width:85px;
    height: 24px;
  }

  .change_to_login_container p{
    font-size: 12px;
  }

  .change_to_login_container button{
    width:65px;
    height:22px;
  }

  .input_group{
    flex-direction: column;
  }
}

