.container{
    width:100%;
    height:70px;
    display: grid;
    grid-template-columns: 0.4fr auto 0.5fr;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(131, 75, 214,0.5);
    align-items: center;
    
}

.logo-name{
    display: flex;
    gap:15px;
    color:white;
    align-items: center;
}

.logo-name img{
   height: 55px; 
   width:55px;
   margin-left: 20px;
    margin-top: 5px;
   border-radius: 50%; 
}

.logo-name p{
    font-size: 20px; 
    font-weight: bold;
}
.input-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-top input {
    width:400px;
    padding: 0px 5px;
    height: 40px;
    margin-left: -2px;
}

.input-top img{
    width:40px;
    height:37px;
    margin-left: -42px;
    
}

.cart-profile{
    display:flex;
    justify-content: right;
    gap:15px;
}



.cart-icon{
 height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-icon{
 height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 20px;
}

@media(max-width:850px)
{
    .input-top input{
        width:300px

    }

    .cart-profile{
        gap:12px;
    }

    .logo-name p{
        display: none;
    }

    .container{
        grid-template-columns: 0.2fr auto 0.1fr;
    }

    .logo-name img{
        width: 45px;
        height:45px;
    }

    .cart-icon{
        width:35px;
        height:35px;
    }

    .profile-icon{
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
}

@media(max-width:550px){
    .input-top input{
        width:200px;
        height:35px;
    }
    
    .input-top img{
        width:35px;
        height:32px;
        margin-left: -37px;
    }
}

@media(max-width:400px){
    .input-top input{
        width:150px;
        height:30px;
    }
    .cart-icon{
        width:32px;
        height:32px;
    }

    .profile-icon{
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .input-top img{
        width:29px;
        height: 27px;
        margin-left: -31px;
    }
}